/* estilo universal */
* {
    color: gray;
}

h1,
h2 {
    color: #333;
}

/* estilo clase miparrafo */
.miparrafo {
    color: tomato;
    font-style: italic;
}

.miparrafo::selection {
    background: yellow;
}
